<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673528245777-32amm0t9lit4g4t51ritrsm1glhfu227.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673528245777-32amm0t9lit4g4t51ritrsm1glhfu227</string>
	<key>API_KEY</key>
	<string>AIzaSyATz6t1KXaN0KA1D2K54we6NQQiVJiAqXM</string>
	<key>GCM_SENDER_ID</key>
	<string>673528245777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melissacasas.chatApp</string>
	<key>PROJECT_ID</key>
	<string>ichat-60a2e</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-60a2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673528245777:ios:72579d6afa5bf599ab0bb0</string>
</dict>
</plist>